<!-- list of officers with photos-->
<!-- see what we are doing: facebook link -->

<!-- “About Us” Information – Share information about your Auxiliary, District or 
Department such as: 
o When your Auxiliary, District or Department was charted 
o A list of Officers 
o Your Auxiliary, District or Department’s involvement within the community.   -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Angela Murray">
    <meta name="description" content="About the Veterans of Foreign Wars Auxiliary 12202">
    <title>VFW Aux 12202 About</title>
    <link rel="stylesheet" href="../public/css/main.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
</head>
<body>

    <!-- <header>
        <div>
            <a href="/index.html"><img src="../images/Emblem-Facebook-Profile-Picture.jpg" alt="VFW Auxiliary"></a> 
        </div>
        <nav class= "site-nav">
            <ul>
                <li><a href="/vfwAuxMainSite/index.html" >Home</a></li>
                <li><a href="#" aria-current="page">About</a></li>
                <li><a href="/vfwAuxMainSite/views/join.html">Join</a></li>
                <li><a href="/vfwAuxMainSite/views/programs.html">Programs</a></li>
                <li><a href="/vfwAuxMainSite/views/resources.html">Resources</a></li>
                <li><a href="/vfwAuxMainSite/views/news.html">News</a></li>
                <li><a href="/vfwAuxMainSite/views/contact.html">Contact</a></li>
                <li><a href="/vfwAuxMainSite/views/donate.html">Donate</a></li>
            </ul>
        </nav>
    </header> -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <header>     
            <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="../images/Emblem-Facebook-Profile-Picture.jpg" alt="VFW Auxiliary logo" width="40" height="34" class="d-inline-block align-text-top">SGT Nicholas C. Mason Memorial VFW Auxiliary 12202</a> 
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="../index.html">Home</a></li>
                            <li class="nav-item"><a class="nav-link active" href="#" aria-current="page">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="join.html">Join</a></li>
                            <!-- <li><a href="/views/programs.html">Programs</a></li> -->
                            <!-- <li><a href="/views/resources.html">Resources</a></li> -->
                            <!-- <li><a href="/views/news.html">News</a></li> -->
                            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                            <li class="nav-item"><a class="nav-link" href="donate.html">Donate</a></li>
                        </ul>
                    </div>
                </div> 
            </nav>    
    </header>

    <main>
        <h1>About</h1>
        <div class="card-grid ">
            <article class="card">
                <!-- <div aria-hidden="true"></div> -->
                <!-- <div class="card-body"> -->
                    <h2 class="card-title">President</h2>
                    <img class="card-image" src="https://picsum.photos/seed/hero-effects/1200/500" alt="Jamie Stewart">
                    <h4>Jamie Stewart</h4>
                    <!-- may change this to figure figcaption -->
                <!-- </div> -->
            </article>
            <article class="card">
                <!-- <div aria-hidden="true"></div> -->
                <!-- <div class="card-body"> -->
                    <h2 class="card-title">Senior Vice President</h2>
                    <img class="card-image" src="https://picsum.photos/seed/hero-effects/1200/500" alt="Allyson McKenna">
                    <h4>Allyson McKenna</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil at ex molestias perspiciatis, in quos corporis porro eum atque autem ducimus inventore voluptate neque corrupti sequi culpa minima recusandae harum!</p>
                <!-- </div> -->
            </article>
            <article class="card">
                <!-- <div aria-hidden="true"></div> -->
                <!-- <div class="card-body"> -->
                    <h2 class="card-title">Junior Vice President</h2>
                    <img class="card-image" src="https://picsum.photos/seed/hero-effects/1200/500" alt="Danielle Biggs">
                    <h4>Danielle Biggs</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil at ex molestias perspiciatis, in quos corporis porro eum atque autem ducimus inventore voluptate neque corrupti sequi culpa minima recusandae harum!</p>
                <!-- </div> -->
            </article>            
            <article class="card">
                <!-- <div aria-hidden="true"></div> -->
                <!-- <div class="card-body"> -->
                    <h2 class="card-title">Treasurer</h2>
                    <img class="card-image" src="https://picsum.photos/seed/hero-effects/1200/500" alt="Renee' Hofmeister">
                    <h4>Renee' Hofmeister</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil at ex molestias perspiciatis, in quos corporis porro eum atque autem ducimus inventore voluptate neque corrupti sequi culpa minima recusandae harum!</p>
                <!-- </div> -->
            </article>            
            <article class="card">
                <!-- <div aria-hidden="true"></div> -->
                <!-- <div class="card-body"> -->
                    <h2 class="card-title">Chaplain</h2>
                    <img class="card-image" src="https://picsum.photos/seed/hero-effects/1200/500" alt="Janice Dolensky">
                    <h4>Janice Dolensky</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil at ex molestias perspiciatis, in quos corporis porro eum atque autem ducimus inventore voluptate neque corrupti sequi culpa minima recusandae harum!</p>
                <!-- </div> -->
            </article>            
            <article class="card">
                <!-- <div aria-hidden="true"></div> -->
                <!-- <div class="card-body"> -->
                    <h2 class="card-title">Conductor</h2>
                    <img class="card-image" src="https://picsum.photos/seed/hero-effects/1200/500" alt="Jennifer McKenna">
                    <h4>Jennifer McKenna</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil at ex molestias perspiciatis, in quos corporis porro eum atque autem ducimus inventore voluptate neque corrupti sequi culpa minima recusandae harum!</p>
                <!-- </div> -->
            </article>            
            <article class="card">
                <!-- <div aria-hidden="true"></div> -->
                <!-- <div class="card-body"> -->
                    <h2 class="card-title">Guard</h2>
                    <img class="card-image" src="https://picsum.photos/seed/hero-effects/1200/500" alt="Alex Fisher">
                    <h4>Alex Fisher</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil at ex molestias perspiciatis, in quos corporis porro eum atque autem ducimus inventore voluptate neque corrupti sequi culpa minima recusandae harum!</p>
                <!-- </div> -->
            </article>            
            <article class="card">
                <!-- <div aria-hidden="true"></div> -->
                <!-- <div class="card-body"> -->
                    <h2 class="card-title">Trustee</h2>
                    <img class="card-image" src="https://picsum.photos/seed/hero-effects/1200/500" alt="Christine Mason">
                    <h4>Christine Mason</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil at ex molestias perspiciatis, in quos corporis porro eum atque autem ducimus inventore voluptate neque corrupti sequi culpa minima recusandae harum!</p>
                <!-- </div> -->
            </article>            
            <article class="card">
                <!-- <div aria-hidden="true"></div> -->
                <!-- <div class="card-body"> -->
                    <h2 class="card-title">Trustee 2</h2>
                    <img class="card-image" src="https://picsum.photos/seed/hero-effects/1200/500" alt="TBD">
                    <h4>TBD</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil at ex molestias perspiciatis, in quos corporis porro eum atque autem ducimus inventore voluptate neque corrupti sequi culpa minima recusandae harum!</p>
                <!-- </div> -->
            </article>            
            <article class="card">
                <!-- <div aria-hidden="true"></div> -->
                <!-- <div class="card-body"> -->
                    <h2 class="card-title">Trustee 3</h2>
                    <img class="card-image" src="https://picsum.photos/seed/hero-effects/1200/500" alt="Angela Murray">
                    <h4>Angela Murray</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil at ex molestias perspiciatis, in quos corporis porro eum atque autem ducimus inventore voluptate neque corrupti sequi culpa minima recusandae harum!</p>
                <!-- </div> -->
            </article>            
            <article class="card">
                <!-- <div aria-hidden="true"></div> -->
                <!-- <div class="card-body"> -->
                    <h2 class="card-title">Secretary</h2>
                    <img class="card-image" src="https://picsum.photos/seed/hero-effects/1200/500" alt="Vicki Butler">
                    <h4>Vicki Butler</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil at ex molestias perspiciatis, in quos corporis porro eum atque autem ducimus inventore voluptate neque corrupti sequi culpa minima recusandae harum!</p>
                <!-- </div> -->
            </article>            
            <article class="card">
                <!-- <div aria-hidden="true"></div> -->
                <!-- <div class="card-body"> -->
                    <h2 class="card-title">Assistant Secretary</h2>
                    <img class="card-image" src="https://picsum.photos/seed/hero-effects/1200/500" alt="Janice Dolensky">
                    <h4>Janice Dolensky</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil at ex molestias perspiciatis, in quos corporis porro eum atque autem ducimus inventore voluptate neque corrupti sequi culpa minima recusandae harum!</p>
                <!-- </div> -->
            </article>            
            <article class="card">
                <!-- <div aria-hidden="true"></div> -->
                <!-- <div class="card-body"> -->
                    <h2 class="card-title">Patriotic Instructor</h2>
                    <img class="card-image" src="https://picsum.photos/seed/hero-effects/1200/500" alt="Vicki Butler">
                    <h4>Vicki Butler</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil at ex molestias perspiciatis, in quos corporis porro eum atque autem ducimus inventore voluptate neque corrupti sequi culpa minima recusandae harum!</p>
                <!-- </div> -->
            </article>            
            <article class="card">
                <!-- <div aria-hidden="true"></div> -->
                <!-- <div class="card-body"> -->
                    <h2 class="card-title">Historian</h2>
                    <img class="card-image" src="https://picsum.photos/seed/hero-effects/1200/500" alt="Lisa Sucow">
                    <h4>Lisa Sucow</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil at ex molestias perspiciatis, in quos corporis porro eum atque autem ducimus inventore voluptate neque corrupti sequi culpa minima recusandae harum!</p>
                <!-- </div> -->
            </article>            
            <article class="card">
                <!-- <div aria-hidden="true"></div> -->
                <!-- <div class="card-body"> -->
                    <h2 class="card-title">Soloist</h2>
                    <img class="card-image" src="https://picsum.photos/seed/hero-effects/1200/500" alt="Brook Polen">
                    <h4>Brook Polen</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil at ex molestias perspiciatis, in quos corporis porro eum atque autem ducimus inventore voluptate neque corrupti sequi culpa minima recusandae harum!</p>
                <!-- </div> -->
            </article>            
            <article class="card">
                <!-- <div aria-hidden="true"></div> -->
                <!-- <div class="card-body"> -->
                    <h2 class="card-title">Assisant Guard</h2>
                    <img class="card-image" src="https://picsum.photos/seed/hero-effects/1200/500" alt="Brook Polen">
                    <h4>Brook Polen</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil at ex molestias perspiciatis, in quos corporis porro eum atque autem ducimus inventore voluptate neque corrupti sequi culpa minima recusandae harum!</p>
                <!-- </div> -->
            </article>
        </div>
    </main>

    <footer>
        <div class="footer-links">
            <ul>
                <li><a href="https://vfw12202.org/">VFW Post 12202</a></li>
                <li><a href="https://malta.vfwauxiliary.org/Account/NewLogin ">MALTA</a></li>
                <li><a href="https://vfwauxiliary.org/ ">National VFW Auxiliary</a></li>
                <li><a href="https://vfwauxva.org/di/vfw/v2/default.asp ">Virginia VFW Auxiliary</a></li>
                <li><a href="https://www.facebook.com/KingGeorgeVFWAuxiliary/posts/today-and-everyday-we-remember/1004487215451164/"><img src="../images/facebook_icon.png" alt="Facebook"></a></li>
                <li><a href="../forms/member_application_fillab.pdf" target="_blank">Membership Form</a></li>
            </ul>
        </div>
        <div>&copy;2026 SGT Nicholas C. Mason Memorial Auxiliary 12202. All rights reserved.            
        </div>
    </footer>

</body>
</html>