<!-- list of officers with photos-->
<!-- see what we are doing: facebook link -->

<!-- “About Us” Information – Share information about your Auxiliary, District or 
Department such as: 
o When your Auxiliary, District or Department was charted 
o A list of Officers 
o Your Auxiliary, District or Department’s involvement within the community.   -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Angela Murray">
    <meta name="description" content="About the Veterans of Foreign Wars Auxiliary 12202">
    <title>VFW Aux 12202 About</title>
    <link rel="stylesheet" href="/public/css/main.css">
    
</head>
<body>

    <header>
        <div>
            <a href="/index.html"><img src="/images/Emblem-Facebook-Profile-Picture.jpg" alt="VFW Auxiliary"></a> 
        </div>
        <nav class= "site-nav">
            <li><a href="/index.html" >Home</a></li>
            <li><a href="#" aria-current="page">About</a></li>
            <li><a href="/views/join.html">Join</a></li>
            <li><a href="/views/programs.html">Programs</a></li>
            <li><a href="/views/resources.html">Resources</a></li>
            <li><a href="/views/news.html">News</a></li>
            <li><a href="/views/contact.html">Contact</a></li>
            <li><a href="/views/support.html">Support</a></li>
        </nav>
    </header>

    <main>
        <h1>About</h1>
        <div class="card-grid">
            <article class="card">
                <div aria-hidden="true">
                    <h2>President</h2>
                    <img src="#" alt="Jamie Stewart">
                    <p></p>
                </div>
            </article>
            <article class="card">
                <div aria-hidden="true">
                    <h2>Senior Vice President</h2>
                    <img src="#" alt="Allyson McKenna">
                    <p></p>
                </div>
            </article>
            <article class="card">
                <div aria-hidden="true">
                    <h2>Junior Vice President</h2>
                    <img src="#" alt="Danielle Biggs">
                    <p></p>
                </div>
            </article>            
            <article class="card">
                <div aria-hidden="true">
                    <h2>Treasurer</h2>
                    <img src="#" alt="Renee' Hofmeister">
                    <p></p>
                </div>
            </article>            
            <article class="card">
                <div aria-hidden="true">
                    <h2>Chaplain</h2>
                    <img src="#" alt="Janice Dolensky">
                    <p></p>
                </div>
            </article>            
            <article class="card">
                <div aria-hidden="true">
                    <h2>Conductor</h2>
                    <img src="#" alt="Jennifer McKenna">
                    <p></p>
                </div>
            </article>            
            <article class="card">
                <div aria-hidden="true">
                    <h2>Guard</h2>
                    <img src="#" alt="Alex Fisher">
                    <p></p>
                </div>
            </article>            
            <article class="card">
                <div aria-hidden="true">
                    <h2>Trustee 1</h2>
                    <img src="#" alt="TBD">
                    <p></p>
                </div>
            </article>            
            <article class="card">
                <div aria-hidden="true">
                    <h2>Trustee 2</h2>
                    <img src="#" alt="TBD">
                    <p></p>
                </div>
            </article>            
            <article class="card">
                <div aria-hidden="true">
                    <h2>Trustee 3</h2>
                    <img src="#" alt="Angela Murray">
                    <p></p>
                </div>
            </article>            
            <article class="card">
                <div aria-hidden="true">
                    <h2>Secretary</h2>
                    <img src="#" alt="Vicki Bitler">
                    <p></p>
                </div>
            </article>            
            <article class="card">
                <div aria-hidden="true">
                    <h2>Assistant Secretary</h2>
                    <img src="#" alt="Janice Dolensky">
                    <p></p>
                </div>
            </article>            
            <article class="card">
                <div aria-hidden="true">
                    <h2>Patriotic Instructor</h2>
                    <img src="#" alt="Vicki Butler">
                    <p></p>
                </div>
            </article>            
            <article class="card">
                <div aria-hidden="true">
                    <h2>Historian</h2>
                    <img src="#" alt="Lisa Sucow">
                    <p></p>
                </div>
            </article>            
            <article class="card">
                <div aria-hidden="true">
                    <h2>Soloist</h2>
                    <img src="#" alt="Brook Polen">
                    <p></p>
                </div>
            </article>            
            <article class="card">
                <div aria-hidden="true">
                    <h2>Assisant Guard</h2>
                    <img src="#" alt="Brook Polen">
                    <p></p>
                </div>
            </article>
        </div>
    </main>

    <footer>
        <div>
            <p>facebook link, national pages, VFW Page</p>
        </div>
        <div>&copy;2026 SGT Nicholas C. Mason Memorial Auxiliary 12202. All rights reserved.            
        </div>
    </footer>

</body>
</html>