<!-- Contact Information – State your Auxiliary, District or Department’s address, phone 
number and email address, so members and potential members can reach you easily. -->

<!-- Be sure to include links to your Auxiliary, District or Department’s Facebook page and/or other 
social media.  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Angela Murray">
    <meta name="description" content="Contacts for Veterans of Foreign Wars Auxiliary 12202">
    <title>VFW Aux 12202 Contact</title>
    <link rel="stylesheet" href="/public/css/main.css">
    
</head>
<body>

    <header>
        <div>
            <a href="/index.html"><img src="/images/Emblem-Facebook-Profile-Picture.jpg" alt="VFW Auxiliary"></a> 
        </div>
        <nav class= "site-nav">
            <ul>
                <li><a href="/vfwAuxMainSite/index.html">Home</a></li>
                <li><a href="/vfwAuxMainSite/views/about.html">About</a></li>
                <li><a href="/vfwAuxMainSite/views/join.html">Join</a></li>
                <li><a href="/vfwAuxMainSite/views/programs.html">Programs</a></li>
                <li><a href="/vfwAuxMainSite/views/resources.html">Resources</a></li>
                <li><a href="/vfwAuxMainSite/views/news.html">News</a></li>
                <li><a href="#" aria-current=page>Contact</a></li>
                <li><a href="/vfwAuxMainSite/views/support.html">Support</a></li>
            </ul>
        </nav>
    </header>

    <main><h1>contact</h1></main>

    <footer>        
        <div>
            <p>facebook link, national pages, VFW Page</p>
        </div>
        <div>&copy;2026 SGT Nicholas C. Mason Memorial Auxiliary 12202. All rights reserved.            
        </div>
    </footer>

</body>
</html>