<!-- Contact Information – State your Auxiliary, District or Department’s address, phone 
number and email address, so members and potential members can reach you easily. -->

<!-- Be sure to include links to your Auxiliary, District or Department’s Facebook page and/or other 
social media.  -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Angela Murray">
    <meta name="description" content="Contacts for Veterans of Foreign Wars Auxiliary 12202">
    <title>VFW Aux 12202 Contact</title>
    <link rel="stylesheet" href="/public/css/main.css">
    
</head>
<body>

    <header>
        <div>
            <a href="/index.html"><img src="../images/Emblem-Facebook-Profile-Picture.jpg" alt="VFW Auxiliary"></a> 
        </div>
        <nav class= "site-nav">
            <ul>
                <li><a href="/vfwAuxMainSite/index.html">Home</a></li>
                <li><a href="/vfwAuxMainSite/views/about.html">About</a></li>
                <li><a href="/vfwAuxMainSite/views/join.html">Join</a></li>
                <li><a href="/vfwAuxMainSite/views/programs.html">Programs</a></li>
                <li><a href="/vfwAuxMainSite/views/resources.html">Resources</a></li>
                <li><a href="/vfwAuxMainSite/views/news.html">News</a></li>
                <li><a href="#" aria-current=page>Contact</a></li>
                <li><a href="/vfwAuxMainSite/views/donate.html">Donate</a></li>
            </ul>
        </nav>
    </header>

    <main><h1>contact</h1></main>

    <footer>        
        <div>
            <p>facebook link, national pages, VFW Page</p>
        </div>
        <div>&copy;2026 SGT Nicholas C. Mason Memorial Auxiliary 12202. All rights reserved.            
        </div>
    </footer>

</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Angela Murray">
    <meta name="description" content="Website for Veterans of Foreign Wars Auxiliary 12202">
    <title>VFW Aux 12202 Contact</title>
    <!-- <base href="/vfwAuxMainSite/"> -->
    <link rel="stylesheet" href="../public/css/main.css">
    <!-- check here for styles path if not working on Git Pages ^^^, remove leading / -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
    
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <style>
        body {
        background-image: url('../images/flag-background.png');
        }
    </style>
    <header>     
            <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand text-wrap" href="../index.html">
                        <img src="../images/Emblem-Facebook-Profile-Picture.jpg" alt="VFW Auxiliary logo" width="40" height="34" class="d-inline-block align-text-top">SGT Nicholas C. Mason Memorial VFW Auxiliary 12202</a> 
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link " href="../index.html" >Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                            <li class="nav-item active"><a class="nav-link" href="join.html" aria-current="page">Join</a></li>
                            <!-- <li><a href="programs.html">Programs</a></li> -->
                            <!-- <li><a href="/resources.html">Resources</a></li> -->
                            <!-- <li><a href="news.html">News</a></li> -->
                            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                            <li class="nav-item"><a class="nav-link" href="donate.html">Donate</a></li>
                        </ul>
                    </div>
                </div> 
            </nav>    
    </header>

    <main>
        <div class="hero">
            <img class="hero-image" src="../images/hero-woodboard.png" class="img-fluid" alt="dark wood">
            <div class="hero-content">
                <h1>We would love to hear from you</h1>
            </div>
        </div>
        <div class="home-page">
            <article class="card text-center">
                <h3>You can email us at: <br>
                 kinggeorge<span style="display: none" aria-hidden="true">s</span>vfwaux<span style="display: none" aria-hidden="true">iliarynow</span>@gmail.com</h3>
                 <!-- span tags are to secure the email --></p>
            </article>
            <article class="card text-center">
                <div>
                    <h3>Follow us on Facebook</h3>
                    <a href="https://www.facebook.com/KingGeorgeVFWAuxiliary" target="_blank"><img src="../images/facebook_icon.png" alt="Facebook" width="50rem"></a>
                </div>
            </article>
                 <article class="card text-center">
                <div>
                    <h3>Call us at</h3>
                    <p>(540) 775-9877</p>
                </div>
            </article>
        
        </div>   
        

        <!-- photo carousel -->
         <!-- it will auto scroll after user initiates -->
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="true">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../images/VFW-Auxiliary-Flag-Black-BackgroundCover-Photo.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../images/field-of-flags.jpg" class="d-block w-100" alt="...">
                </div>
                <!-- <div class="carousel-item">
                    <img src="../images/events/photo-carousel/FB_IMG_1767883485291.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../images/events/photo-carousel/FLYER.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../images/events/photo-carousel/IMG_5382.JPG" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../images/events/photo-carousel/IMG_5740.JPG" class="d-block w-100" alt="...">
                </div> -->
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- end photo carousel -->

    </main>

    <footer class="fixed-bottom">
        <div class="footer-links">
            <ul>
                <li><a href="https://vfw12202.org/">VFW Post 12202</a></li>
                <li><a href="https://malta.vfwauxiliary.org/Account/NewLogin ">MALTA</a></li>
                <li><a href="https://vfwauxiliary.org/ ">National VFW Auxiliary</a></li>
                <li><a href="https://vfwauxva.org/di/vfw/v2/default.asp ">Virginia VFW Auxiliary</a></li>
                <li><a href="https://www.facebook.com/KingGeorgeVFWAuxiliary/posts/today-and-everyday-we-remember/1004487215451164/" target="_blank"><img src="../images/facebook_icon.png" alt="Facebook"></a></li>
                <li><a href="../forms/member_application_fillab.pdf" target="_blank">Membership Form</a></li>
            </ul>
        </div>
        <div>&copy;2026 SGT Nicholas C. Mason Memorial Auxiliary 12202. All rights reserved.            
        </div>
    </footer>
</body>
</html>