<!-- forms to print -->
 <!-- links to other sites -->

  <!-- Resources – Link to other sites such as: 
o VFW Auxiliary National Organization 
o VFW National Organization 
o VFW Store 
o VFW National Home for Children 
o Military & Veteran Family Helpline -->

<!-- helpful links -->
 <!-- <div class="footer-links">
            <ul>
                <li><a href="https://vfw12202.org/">VFW Post 12202</a></li>
                <li><a href="https://malta.vfwauxiliary.org/Account/NewLogin ">MALTA</a></li>
                <li><a href="https://vfwauxiliary.org/ ">National VFW Auxiliary</a></li>
                <li><a href="https://vfwauxva.org/di/vfw/v2/default.asp ">Virginia VFW Auxiliary</a></li>
                <li><a href="https://www.facebook.com/KingGeorgeVFWAuxiliary/posts/today-and-everyday-we-remember/1004487215451164/"><img src="/images/facebook_icon.png" alt="Facebook"></a></li>
                <li><a href="/forms/member_application_fillab.pdf" target="_blank">Membership Form</a></li>
            </ul>
        </div> -->