*,
*::before,
*::after {
  max-width: 1000px;
  justify-self: center;
  /* background-color: var(--color-bg-page); */
}

main {
  margin-top: 3rem;
}
.hero {
  margin-top: 5rem;
}

.footer-links ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem;
  list-style: none;
}

.home-page div {
  margin: 2rem;
}

/* .home-page btn {
  margin: 10rem;
} */

/* main div {
  margin: 2rem;
} */

.test2 {
  background-color: aquamarine;
}
