/* *,
*::before,
*::after { */
/* justify-self: center; */
/* background-color: var(--color-bg-page); */
/* } */
body {
  /* this was move to html because I could not get the path to work on the live site. */
  /* background-image: url('/images/flag-background.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);
  /* backdrop-filter: grayscale(70%); */
  padding-top: 6rem;
  padding-bottom: 5rem;
}

main {
  margin-top: 3rem;
  max-width: 1000px;
  /* max-width: 90%; */
  margin: 3rem;
  margin-bottom: 10rem;
}
/* .hero {
  margin-top: 5rem;
} */

.footer-links ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 1rem;
  list-style: none;
}
